<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="print.php" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="download.php" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="phpinfo.php" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^(barcode)" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="(phpmysql)" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="(wiki)" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 7">
                    <match url="\.(js|ico|txt|gif|jpg|png|css|pdf|mp4|swf|fla|svg|woff|eot|ttf)$" ignoreCase="false" negate="true" />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
