<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1-1">
                    <match url="(\d+)/(\d+)/(.+)\.png$" />
                    <action type="Rewrite" url="index.php?w={R:1}&amp;h={R:2}&amp;c={R:3}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
